<div class="approval-buttons">
  <div id='approve' data-cid="<%= @change.id %>">
    <button class="btn btn-success btn-block btn-lg"><span class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
  </div>

  <div id='reject' data-cid="<%= @change.id %>">
    <button id="<%= @change.id %>" class="btn btn-danger btn-block btn-lg"><span class="glyphicon glyphicon-thumbs-down"></span> Reject</button>
  </div>
</div>