<li class="last">
  <div>
    <p class="detail-heading"><%= pluralize(@change.approvers.count, 'Approver') %></p>
  </div>
<div class="approver-list">
  <ul>
    <% @change.approvers.each do |approver| %>
      <li class="approver"><span class="label label-default approver-colors"><abbr title="<%= approver.user.name %>" class="initialism"><%= approver.user.initials %></abbr></span></li>
    <% end %>
  </ul>
</div>
</li>