<!-- Modal -->
<div class="modal fade" id="changeTypeModal" tabindex="-1" role="dialog" aria-labelledby="changeTypeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Change Types</h4>
      </div>
      <div class="modal-body">
        <ul class="changeType-list">
          <% ChangeType.all.each do |change_type| %>
            <li><%= change_type.name.capitalize %></li>
          <% end %>
          <div class="adder">

          </div>
        </ul>
        <div class="controls">
          <button type="button" class="add add-button btn btn-success btn-xs">
            <span class="add glyphicon glyphicon-plus"></span> Add New
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="save-btn" class="btn btn-primary btn-lg" data-dismiss="modal">Done</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->