<div style="display: none" id="comment-form-container" class="panel panel-info">
  <div class="panel-heading">New Comment</div>
  <div class="panel-body">
    <form id="comments-form">
      <div class="form-group">
        <input name="subject" type="text" class="form-control comment-input" placeholder="Please enter comment title">
      </div>
	    <br>
      <br>
      <div class="form-group">
        <label class="control-label" for="comment"></label>
        <textarea name="comment" class="form-control comment-input" id="comment" rows="5" placeholder="Please enter Comment"></textarea>
      </div>
      <button id="comment-submit" type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>

