<div class="panel panel-default">
  <div class="panel-heading"><h4>Changes by...</h4></div>
  <div class="panel-body">
    <div class="dashboard">
      <div class="status graph-container">
        <div class="donut" id="status"></div>
        <div class="graph-title text-center"><h4>Status</h4></div>
      </div>
      <div class="priority graph-container">
        <div class="donut" id="priority"></div>
        <div class="graph-title text-center"><h4>Priority</h4></div>
      </div>
      <div class="system graph-container">
        <div class="donut" id="system"></div>
        <div class="graph-title text-center"><h4>System</h4></div>
      </div>
      <div class="user graph-container">
        <div class="donut" id="creator"></div>
        <div class="graph-title text-center"><h4>Creator</h4></div>
      </div>
    </div>
  </div>
</div>