<h2> <span class="editable-title updatable" data-showbuttons="false" data-clear="false" data-url="/change/<%= @change.id %>/title/update" data-toggle="manual" data-mode="inline" data-inputclass="input-lg wide"> <%= @change.title.capitalize %> </span>
  <span class="glyphicon glyphicon-pencil edit-title-icon"></span> <span class="change-id">#<%= @change.id %></span>
</h2>