<style>
	.add
	{
		display:block;
		cursor: pointer;
		position: relative;
		left: 100px;

	}
</style>
<script>
	$.fn.editable.defaults.mode = 'inline';

</script>
<!-- Modal -->
<div class="modal fade" id="impactModal" tabindex="-1" role="dialog" aria-labelledby="impactModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add Impacts</h4>
      </div>
      <div class="modal-body">
        <ul class="impact-list">
          <% Impact.all.each do |impact| %>
            <li><%= impact.name.capitalize %></li>
          <% end %>
          <div class="adder">

          </div>
        </ul>
        <div class="controls">
        <div class="add">Add <i class="icon-pencil pencil-input-change"></i></div>
	      </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="save-btn" class="btn btn-primary" data-dismiss="modal">Done</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->