<%= render :partial => 'filter_panel' %>
<div class="btn-toolbar mixer-buttons">
  <div class="row">
    <div class="counters col-md-4">
      <div class="selected-count text-center col-sm-4 col-xs-4 col-md-4">
        <div><span class="title">Selected</span></div>
        <span class="count" id="count-selected">0</span>
      </div>
      <div class="displayed-count text-center col-sm-4 col-xs-4 col-md-4">
        <div><span class="title">Displayed</span></div>
        <span class="count" id="count-displayed">0</span>
      </div>
      <div class="total-count text-center col-sm-4 col-xs-4 col-md-4">
        <div><span class="title">Total</span></div>
        <span class="count" id="count-total"><%= @changes.count %></span>
      </div>
    </div>
    <div class="col-md-4">
      <a class="btn btn-primary" href="" id="panel-toggler">&#9776; Filters</a>
    </div>
    <div class="col-md-4 date-range-picker">
      <div><span class="title">Date Filter</span></div>

      <div id="reportrange">
        <button class="btn btn-default">
          <i class="fa fa-calendar fa-lg"></i>
          <span class="filtered-dates">All</span> <b class="caret"></b>
        </button>
      </div>
    </div>
  </div>
</div>
