<script>
	$(document).ready(function() {
		var reportIds;
		reportIds = rfChange.localStorageData('SelectedReportItems');
		rfChange.loadReportData(reportIds);
	});
</script>
<h1>Waiting for data</h1>