<div class='navbar navbar-default'>
  <div class='container'>
    <div class='container'>
      <div class="navbar-header">
      <%= link_to Rails.application.class.parent_name, root_path, class: 'brand' %>
      <% if logged_in? %>
        <div class="navbar-brand">Hi, <%= current_user.name %></div>
        <%= link_to t('auth.logout'), logout_path, class: 'brand', style: "color: blue" %>
        <% else %><%= link_to t('auth.login'), login_path, class: 'navbar-brand', style: "color: blue" %>
      <% end %>
	      </div>
    </div>
  </div>
</div>
