<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Manage Systems</h3>
    </div>
    <div class="panel-body">
      <div id="system_names" class="modal-body">
        <!--todo load partial here for system names-->
        <%= render :partial => 'system_names' %>
      </div>
    </div>
  </div>
</div>