<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Manage Products</h3>
    </div>
    <div class="panel-body">
      <div id="product_names" class="modal-body">
        <%= render :partial => 'product_names' %>
      </div>
    </div>
  </div>
</div>