<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Manage Systems</h3>
    </div>
    <div class="panel-body">
      <div id="user_management">
        <div class="row">
          <div class="col-md-4">
            <P>Nothing to see here folks</P>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>