// Place all the styles related to the change controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new {
  color: #1E90FF;
  font-weight:bold;
  }


#impactModal, #statusModal, #systemModal, #changeTypeModal, #priorityModal {
  .modal-dialog {
    max-width: 350px;
  }
}

input {
  clear: both;
  float: left;
  width: 150px;
}

.select2-container .select2-chosen {
  text-transform: capitalize;
}


#horizontal {
  padding-bottom: 10px;
  .select {
    float: left;
  }
}

#drop-down {
  display: inline-block;
  #newlink {
    cursor: pointer;
    padding-top: 29.7px;
    margin-left: -1px;
    float: right;
    margin-right: 11px;
    .glyphicon {
      top: 0;
      left: 5px;
    }
    span {
      color: #47A447;
    }
  }
}