// Place all the styles related to the change controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new {
  color: #1E90FF;
  font-weight: bold;
  text-transform: capitalize;
}

.notsonew {
  font-weight: bold;
  text-transform: capitalize;
}

abbr {
  cursor: pointer !important;
}

.approver-select {
  width: 100%;
  font-size: 18px;
  li {
    line-height: 30px !important;
    margin: 4px 0 3px 5px !important;
  }
  input {
    height: 40px;
  }
}

.submit-button {
  padding-top: 20px;
}

.list-style {
  color: #ffffff !important;
  padding: 3px 5px !important;
  font-weight: 500;
  background-image: none;
  box-shadow: none;
  a {
    display: none;
  }
}

.approver-colors {
  #blue {
    .list-style;
    background-color: #0099CC !important;
    border-color: #33B5E5 !important;
  }
  #green {
    .list-style;
    background-color: #669900 !important;
    border-color: #99CC00 !important;
  }
  #purple {
    .list-style;
    background-color: #9933CC !important;
    border-color: #AA66CC !important;
  }
  #yellow {
    .list-style;
    background-color: #FF8800 !important;
    border-color: #FFBB33 !important;
  }
  #red {
    .list-style;
    background-color: #CC0000 !important;
    border-color: #FF4444 !important;
  }
}

#impactModal, #statusModal, #systemModal, #changeTypeModal, #priorityModal {
  .modal-dialog {
    max-width: 350px;
  }
}

.create-page-heading {
  h1 {
    color: #555555;
  }
}
#change-date {
  color: #0099CC;
  border-bottom: 3px dotted #999999;
  //  padding: 1px;
  cursor: pointer;
}

.title-input {
  padding-bottom: 12px;
}

input {
  clear: both;
  float: left;
  width: 150px;
}

.select2-container .select2-chosen {
  text-transform: capitalize;
}

.safe-count {
  color: #468847;
}

.over-count {
  color: #b94a48;
}

#horizontal {
  padding-bottom: 10px;
  .select {
    float: left;
  }
}

.panel-heading .accordion-toggle:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  color: grey;
}

.panel-heading .accordion-toggle.collapsed:after {
  content: "\e080";
}

.change-heading {
  border-bottom: 1px #eeeeee;
  margin: 16px 0px 11px;
  padding-bottom: 9px;
  color: #555555;
  .change-subheading {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
  }
  .change-id {
    color: #969696;
    font-weight: 300;
  }
  .btn {
    opacity: 100 !important;
    font-size: 14px;
    font-weight: 500;
    .glyphicon {
      font-size: 16px;
    }
  }
  .creator {
    font-weight: bold;
    color: #555555;
  }
  .created {
    color: #636363;
  }
  abbr {
    border-bottom: none;
  }
  .link:hover {
    border-bottom: 1px dashed #969696;
  }
  small {
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
  }
}

.change-textarea-container {
  .edit-textarea-icon {
    float: right;
    cursor: pointer;
    top: -18px;
    color: #777777;
    font-size: 16px;
  }
  .edit-textarea-icon:hover {
    color: #5CB85C;
  }
  .text-area-edit-actions {
    padding-top: 10px;
  }
}

.change-details-container {
  border-right: 2px solid #eeeeee;
  .change-details {
    margin-bottom: 10px;
    p {
      margin-bottom: 5px;
    }
    ul {
      margin: 0px;
      padding-left: 0px;
      list-style: none;
    }
    li {
      border-bottom: 1px solid #eeeeee;
      color: #969696;
      .detail-heading {
        color: #777777;
        font-weight: bold;
        margin-bottom: 0;
        margin-top: 5px;
      }
      .edit-detail-icon {
        float: right;
        top: -16px;
        cursor: pointer;
      }
      .edit-detail-icon:hover {
        color: #5CB85C;
      }
    }
    .last {
      border-bottom: 0px;
    }
  }
}

.error-notification {
  display: none;
}

.add-change-button {
  clear: both;
  text-align: right;
  padding-bottom: 20px;
}

.dashboard {
  height: 200px;

  .graph-container {
    width: 25%;
    float: left;
  }

  .graph-title {

  }

  .donut {
    height: 220px;
  }

}

.post-approval {
  padding-top: 10px;
  padding-bottom: 10px;
  .approver {
    float: left;
    width: 50%;
    padding-right: 5px;
    font-size: 30px;
    color: #969696;
  }
  .complete-button {
    float: right;
    width: 50%;
    padding-left: 5px;
  }

}

.approval-buttons {
  padding-top: 10px;
  margin-bottom: 10px;
  #approve {
    float: left;
    width: 50%;
    padding-right: 5px;
  }
  #reject {
    float: right;
    width: 50%;
    padding-left: 5px;
  }
}

.approver-list {
  font-size: 20px;
  margin-bottom: 10px;
  abbr {
    border-bottom: none !important;
  }
  ul {
    margin: 0px;
    padding-left: 0px;
  }
  li {
    display: inline;
    color: #969696;
  }
  .last {
    border-right: 0px;
  }
}

#comment-list a {
  text-decoration: none !important;
}

.new-comment-button {
  padding-top: 20px;
}

.wide-input {
  width: 150px;
}

.commenter {
  a:hover, a:focus {
    text-decoration: none !important;
    outline: 0;
  }

  .label {
    padding: 0.3em 0.6em 0.3em;
  }
  margin: 0px;
  font-size: 15px;
  display: inline;
  padding: 0px 3px 0 3px;
  color: #969696;
  text-transform: capitalize;
  .last {
    border-right: 0px;
  }
}

.drop-down {
  margin-right: 36px;

}

.timeline-container {
  padding-top: 60px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -23px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge {
  .glyphicon {
    font-size: 25px;
    top: 5px;
  }
}

.timeline-badge.primary {
  background-color: #9933CC !important;
}

.timeline-badge.success {
  background-color: #669900 !important;
}

.timeline-badge.warning {
  background-color: #FF8800 !important;
}

.timeline-badge.danger {
  background-color: #CA0000 !important;
}

.timeline-badge.info {
  background-color: #0099CC !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.upload-container {
  padding: 19px;
}

.download-list-container {
  ul {
    padding: 0px;
  }
  .download-list {
    li {
      background: linear-gradient(to bottom, #F5F5F5 0%, #EBEBEB 90%, #EEEEEE 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
      border-radius: 4px;
      box-shadow: 0 0 1px #A4A4A4 inset, 0 -2px 0 #A4A4A4 inset, 0 3px 3px -1px rgba(0, 0, 0, 0.2);
      padding: 0 4px;
      min-height: 30px;
      margin-bottom: 10px;
      position: relative;
      list-style: none outside none;
      input {
        position: relative;
        top: 25px;
        left: 62px;
        font-size: 15px !important;
      }
    }
    .download-details {
      margin-right: 50px;
    }
    .file-extension {
      display: inline-block;
      width: 48px;
      height: 48px;

      #extension {
        background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 0 none;
        margin-left: -75px;
        font-size: 25px;
        margin-top: 55px;
        width: 67px;
        padding: 0;
        position: absolute;
        text-align: center;
        vertical-align: middle;
      }
    }
    canvas {
      //      padding-left: 10px;
      //      padding-top: 20px;
      position: relative;
      top: 25px;
      left: 10px;
    }
    i {
      font-weight: normal;
      font-style: normal;
      color: #7f7f7f;
      display: block;
    }
    p {
      width: 75%;
      overflow: auto;
      white-space: nowrap;
      color: #969696;
      font-size: 16px;
      font-weight: bold;
      position: relative;
      top: -25px;
      left: 100px;
    }
    span {
      width: 15px;
      height: 12px;
      position: absolute;
      top: 32px;
      right: 35px;
      font-size: 40px;

    }
    li.working {
      span {
        color: #669900;
      }
    }
    li.done {
      color: #669900;
    }
    li.error {
      p {
        color: #CC0000;
      }
    }
  }
}

#upload {
  font-family: 'PT Sans Narrow', sans-serif;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop {
  padding: 40px 50px;
  margin-bottom: 30px;
  border: 20px solid rgba(0, 0, 0, 0);
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #7f858a;
  a:hover {
    background-color: #0986a3;
  }
  input {
    display: none;
  }
}

